<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Bree+Serif|Indie+Flower|Teko&display=swap" rel="stylesheet">
	<title>The Info Scrapper</title>
</head>

<body>

	<nav class="navbar navbar-light bg-dark">
		<span class="navbar-brand mb-0 h1">Web Scrapper</span>
		{{!-- SCRAPE BUTTON 4 START --}}
		<form action="/delete-scrapes">
			<button type="submit" class="btn btn-danger">Delete Scrapes<i class="fas fa-bug"></i> </button>
		</form>
		{{!-- SCRAPE BUTTON 4 END --}}
	</nav>

	<br>

	<div class="jumbotron jumbotron-fluid">
		    <h1 id="main-text">Choose Your Scrape</h3>
			<br>
		<div class="container">
			<div class="row">
				<div class="col-5">
					{{!-- SCRAPE BUTTON 1 START --}}
					<form action="/scrape-2">
						<button type="submit" class="btn btn-success">Reddit! <i class="fab fa-reddit"></i></button>
					</form>
					{{!-- SCRAPE BUTTON 1 END --}}
				</div>
				<div class="col-5">
					{{!-- SCRAPE BUTTON 2 START --}}
					<form action="/scrape-1">
						<button type="submit" class="btn btn-info">News Article <i class="fas fa-rss-square"></i> </button>
					</form>
					{{!-- SCRAPE BUTTON 2 END --}}
				</div>
				<div class="col">
					{{!-- SCRAPE BUTTON 3 START --}}
					<form action="/scrape-3">
						<button type="submit" class="btn btn-warning">Any <i class="fas fa-kiwi-bird"></i> </button>
					</form>
					{{!-- SCRAPE BUTTON 3 END --}} </div>
			</div>
		</div>
		{{{ body }}}
	</div>
	</div>

	<footer class="card-footer">
		<div class="container">
			<span class="grey-text text-lighten-4">ArchiveCoderZero</span>
		</div>
		</div>
	</footer>
</body>

</html>