body {
  background-image: url("../../assets/bg.png");
  background-color: #F2F6D0 ;
  }

  #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  #articles {
    display: inline-block;
  }
  #notes {
    position: absolute;
    top:20%;
    left: 30%;
    max-height: 100px;
    width: 50%
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }
