body {
  background-image: url("../../assets/bg.png");
  background-color: #F2F6D0 ;
  }

.jumbotron.jumbotron-fluid {
  background-image: url("../../assets/bgmain.jpg");
}

.jumbotron{
  background-image: url("../../assets/news.jpg");
}

  #wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  #articles {
    display: inline-block;
    font-family: 'Bree Serif', serif;  
  }

  #ind_art {
    padding:5px;
    border: black solid 2px;
  }

  #ind_art:hover {
    font-family: 'Bree Serif', serif;  
    color:tomato;
    transition: .7s ease;
}

  #notes {
      width:100%;
  }

  .modal-content
  {
    background-image: url("../../assets/note.png");
  }


  textarea, input {
    font-family: 'Indie Flower', cursive;
    display: block;
    width: 100%;
    background-image: url("../../assets/note.png");

  }
  input {
    font-family: 'Indie Flower', cursive;
    height: 36px;
    font-size: 24px;
    background: none;
  }
  textarea {
    height: 200px;
    font-size: 18px;
    background: none;

  }


  
.card-footer {
  text-align: center;
  background: black;

}

.card-footer:hover {
  color:tomato;
  transition: .7s ease;
}

#main-text {
  text-align: center

}

.main.Articles {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.fas.fa-arrow-circle-right {
  font-size:30px; 
  padding: 5px;
}


.fas.fa-pencil-alt{
  font-size:30px; 
  padding: 5px

  
}

.btn-reddit{color:#fff;background-color:#FF4301;border-color:#FF4301}.btn-info:hover{color:#fff;background-color:#FF4301;border-color:#ff561b}.btn-info.focus,.btn-info:focus{box-shadow:0 0 0 .2rem rgba(58,176,195,.5)}.btn-info.disabled,.btn-info:disabled{color:#fff;background-color:#FF4301;border-color:#FF4301}.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active,.show>.btn-info.dropdown-toggle{color:#fff;background-color:#ff561b;border-color:#ff561b}.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus,.show>.btn-info.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(58,176,195,.5)}


#instructions {
font-size: 30px;
}