body {
  background-image: url("../../assets/bg.png");
  background-color: #F2F6D0 ;
  }

.jumbotron.jumbotron-fluid {
  background-image: url("../../assets/bgmain.jpg");
}

.jumbotron{
  background-image: url("../../assets/news.jpg");
}

  #wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  #articles {
    display: inline-block;
    font-family: 'Bree Serif', serif;  
  }

  #ind_art {
    padding:5px;

  }

  #ind_art:hover {
    font-family: 'Bree Serif', serif;  
    color:tomato;
    transition: .7s ease;
}

  #notes {
      width:100%;
  }

  .modal-content
  {
    background-image: url("../../assets/note.png");
  }


  textarea, input {
    font-family: 'Indie Flower', cursive;
    display: block;
    width: 100%;
    background-image: url("../../assets/note.png");

  }
  input {
    font-family: 'Indie Flower', cursive;
    height: 36px;
    font-size: 24px;
    background: none;
  }
  textarea {
    height: 200px;
    font-size: 18px;
    background: none;

  }


  
.card-footer {
  text-align: center;
  background: black;

}

.card-footer:hover {
  color:tomato;
  transition: .7s ease;
}

#main-text {
  text-align: center

}

.main.Articles {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.fas.fa-arrow-circle-right {
  font-size:30px; 
  padding: 5px;
}


.fas.fa-pencil-alt{
  font-size:30px; 
  padding: 5px
}